.home-clients-container {
  .widget-title--big {
    margin-bottom: 40px;
  }

  .widget-title__line {
    left: 250px;
  }

  .clients {
    margin-bottom: 60px;
  }

  .client {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    border: 1px solid $transparent-black-10;
    height: auto;
    margin-bottom: 20px;
    max-width: 100%;
    opacity: .6;
    transition: all 100ms ease-out;

    &:hover {
      border: 1px solid $tan;
      opacity: 1;
    }
  }

  @media (min-width: 992px) {
    .widget-title__line {
      left: 400px;
    }
  }
}
