.home-introduction-container {
  margin-bottom: 33px;

  .family-law,
  .corporate-law,
  .about-us {
    .picture {
      height: 130px;
      overflow: hidden;
    }

    .content {
      .title {
        font-size: 24px;
        margin-bottom: 12px;
        margin-top: 21px;
      }

      a {
        color: $brown;

        &:hover {
          color: $darkder-putty;
        }
      }
    }
  }
}
