.shared-footer-container {
  color: $light-grey;

  .footer-top {
    background-color: $grape;
    background-image: url('footer_img.png');
    background-position: center;
    background-size: cover;
    padding: 70px 0 80px;

    h6 {
      color: $white;
      font-size: 24px;
      margin-bottom: 24px;
      margin-top: 0;
    }

    ul {
      list-style: none;
      margin-bottom: 10.5px;
      margin-top: 0;
      padding: 0;

      li > a {
        color: $light-grey;
        line-height: 1.7;
      }
    }
    .social-icon {
      color: $light-grey;
      font-size: 24px;

      &:hover {
        color: $tan;
      }
    }
  }


  .footer-bottom {
    background-color: $dark-grape;
    padding: 29px 0 19px;
    text-align: center;
  }

  .footer-bottom__left {
    a {
      color: $white;
      font-weight: bold;

      &:hover {
        color: $tan;
      }
    }
  }

  @media (min-width: 992px) {
    .footer-bottom__left {
      float: left;
    }

    .footer-bottom__right {
      float: right;
    }
  }
}
