.shared-header-container {
  .top-bar {
    color: #999999;
    background-color: #f7f7f7;
    border-bottom: 1px solid #efefef;
    font-weight: 300;
    line-height: 50px;

    .tagline {
      float: left;
    }
    .widgets {
      float: right;

      .widget {
        float: left;
        padding-right: 20px;
        padding-left: 20px;
        border-right: 1px solid #e0e0e0;

        &.working-hours, &.email, &.address {
          &:before {
            font-family: FontAwesome;
            font-size: 21px;
            -webkit-font-smoothing: antialiased;
            vertical-align: middle;
          }
        }

        &.working-hours {
          padding-left: 0;

          &:before {
            content: "\f017";
          }
        }
        &.email {
          &:before {
            content: "\f003";
          }
        }

        &.address {
          &:before {
            content: "\f015";
          }
        }

        &.social-links {
          padding-right: 0;
          border-right: none;

          .social-icon {
            padding-right: 5px;
            font-size: 21px;
            color: #999999;

            &:hover {
              color: #ccb68d;
            }
          }
        }
      }
    }
  }
}
