.shared-header-container {
  .top-bar {
    color: #999999;
    background-color: #f7f7f7;
    border-bottom: 1px solid #efefef;
    font-weight: 300;
    line-height: 50px;

    .tagline {
      float: left;
    }
    .widgets {
      float: right;

      .widget {
        float: left;
        padding-right: 20px;
        padding-left: 20px;
        border-right: 1px solid #e0e0e0;

        &.working-hours, &.email, &.address {
          &:before {
            font-family: FontAwesome;
            font-size: 21px;
            -webkit-font-smoothing: antialiased;
            vertical-align: middle;
          }
        }

        &.working-hours {
          padding-left: 0;

          &:before {
            content: "\f017";
          }
        }
        &.email {
          &:before {
            content: "\f003";
          }
        }

        &.address {
          &:before {
            content: "\f015";
          }
        }

        &.social-links {
          padding-right: 0;
          border-right: none;

          .social-icon {
            padding-right: 5px;
            font-size: 21px;
            color: #999999;

            &:hover {
              color: #ccb68d;
            }
          }
        }
      }
    }
  }

  .header {
    margin-top: 25px;

    .phones {
      padding: 25px 0;

      .widget {
        .fa {
          float: left;
          font-size: 40px;
          margin-right: 5px;
          color: #ddd;
          background-color: transparent;
        }

        h4 {
          color: #777777;
          margin: 0;
          font-size: 15px;
          font-weight: 500;
          padding-top: 5px;
        }

        span {
          color: #989898;
        }

        &.hotline {
          border-right: 1px solid #e0e0e0;
        }
      }
    }

    .logo {
      img {
        margin: 0 auto;
      }
    }

    .contact-us {
      margin-top: 25px;

      .free-consultation {
        float: right;
        font-weight: 500;
        color: #fff;
        background: #ccb68d linear-gradient(to bottom,#ccb68d,#c9b38a);
        border-color: #ccb68d;
        font-size: 13px;
        padding: 18px 25px;
        border-width: 2px;
        border-radius: 2px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      }
    }

    .navigation {
      .navbar {
        border: 5px solid #45414d;
        box-shadow: 0 0 0 1px rgba(250, 250, 250, 0.2) inset;
        background-color: #45414d;
        margin-top: 25px;

        .navbar-nav {
          display: inline-block;
          float: none;
          li > a {
            font-family: "Alegreya", Georgia, "Times New Roman", Times, serif;
            padding: 30.5px 30px;
            font-size: 19px;
          }
        }

        .navbar-collapse {
          text-align: center;

          .dropdown-menu {
            margin-top: 11px;
            padding: 0;
            
            li > a {
              padding: 12px 38px 12px 18px;
              color: #fff;
              font-size: 14px;
              border-color: #bfa980;
              background-color: #ccb68d;
              border-bottom: 1px solid #c3a878;
              min-width: 150px;
              white-space: nowrap;

              &:hover {
                background-color: #c3a878;
              }
            }
          }
        }
      }
    }
  }
}
