.main-title {
  background-image: url(pattern-background.png);
  background-color: $white-smoke;
  padding: 40px 0;
  margin-bottom: 30px;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.main-title__primary {
  font-size: 40px;
  color: #333;
  margin: 0;
}

.main-title__secondary {
  font-size: 16px;
  color: $nobel;
  margin: 10px 0 7px;
}

.main-title + .breadcrumbs {
  margin-top: -30px;
}

.breadcrumbs {
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 10px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;

  span {
    font-weight: bold;
    color: $grey;
  }

  a {
    color: $nobel;
    position: relative;
    display: inline-block;
    padding: 10px 0;
    color: $nobel;
    margin-right: 10px;
    font-size: 10px;
    text-decoration: none;

    &.root-item {
      &:before {
        font-family: 'FontAwesome';
        content: '\f015';
        padding-right: 10px;
        font-size: 20px;
        line-height: 20px;
        vertical-align: middle;
      }
    }

    &:hover {
      color: #787878;
    }

    &:after {
      font-family: 'FontAwesome';
      content: '\f0da';
      padding-left: 10px;
      color: #ccc;
    }

    &.current {
      font-weight: bold;
    }
  }
}

.sidebar {
  .widget {
    margin-bottom: 56px;
  }

  .widget_nav_menu {
    .menu {
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    }

    ul {
      list-style: none;
      padding: 0;

      li > a {
        padding: 19px 30px;
        margin: 0;
        color: $tan;
        text-transform: uppercase;
        border-bottom: 1px solid #eee;
        font-weight: bold;
        display: block;
        text-decoration: none;

        &.active {
          position: relative;
          background-color: $tan;
          color: $white;
          text-decoration: none;

          &:after {
            position: absolute;
            color: $white;
            content: '\f178';
            font-family: 'FontAwesome';
            right: 20px;
            top: calc(50% - 9px);
            font-size: 12px;
          }
        }

        &:hover {
          color: $pavlova;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .main-title {
    padding: 121px 0 80px;
  }

  .main-title__primary {
    font-size: 60px;
  }

  .breadcrumbs {
    margin-bottom: 60px;
  }
}

@media (min-width: 480px) {
  .breadcrumbs {
    font-size: 14px;

    a {
      padding: 14px 0;
      margin-right: 20px;
      font-size: 14px;

      &:after {
        padding-left: 20px;
      }
    }
  }
}