body {
  background-color: $white;
  color: $darkder-putty;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.57;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

.btn {
  border: 1px solid transparent;
  border-radius: 2px;
  border-width: 2px;
  font-size: 13px;
  padding: 18px 25px;
  text-shadow: 0 1px 1px $transparent-black-10;
  transition: all 100ms ease-out;
}

.btn.btn-raised.btn-primary {
  background: $tan linear-gradient(to bottom, $tan, $darker-tan);
  border-color: $tan;
}

.btn.btn-raised:not(.btn-link):hover.btn-primary {
  background: $pavlova;
  border-color: $pavlova;
}

.btn.btn-raised:not(.btn-link):active.btn-primary {
  background: $lightest-putty;
  border-color: $lighter-yellow;
  box-shadow: inset 0 3px 5px $transparent-black-1;
  outline: 0;
}

.btn.btn-raised:not(.btn-link):focus.btn-primary {
  background: $lightest-putty;
  border-color: $more-darker-brown;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;

  &:hover {
    background: $pavlova;
    border-color: $pavlova;
  }
}

.btn.btn-raised.btn-default {
  background-color: transparent;
  border-color: $transparent-white-33 !important;
  box-shadow: none;
  color: $white;
}

.btn.btn-raised:not(.btn-link):hover.btn-default {
  background-color: transparent;
  border-color: $transparent-white-50 !important;
}

.btn-group-raised .btn:not(.btn-link).active.btn-default {
  background-color: transparent;
}

.btn.btn-raised:not(.btn-link):focus.btn-default {
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $brown;
  font-family: 'Roboto Slab', serif;
}

p {
  margin: 0 0 10.5px;
}

.widget {
  .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 25px;
    margin-top: 0;
  }

  .read-more {
    color: $tan;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $darkder-putty;
    }
  }
}

.widget-title--big {
  margin-bottom: 50px;

  .widget-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
  }

  .widget-title__line {
    border-bottom: 1px solid $transparent-black-8;
    position: absolute;
    right: 0;
    top: 50%;
    left: 150px;
  }

  @media (min-width: 992px) {
    .widget-title {
      font-size: 36px;
    }
  }
}
