body {
  background-color: $white;
  color: $nobel;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.57;
}

.btn {
  border: 1px solid transparent;
  border-radius: 2px;
  border-width: 2px;
  font-size: 13px;
  padding: 18px 25px;
  text-shadow: 0 1px 1px $transparent-black-10;
  transition: all 100ms ease-out;
}

.btn.btn-raised.btn-primary {
  background-color: $pavlova;
}

.btn.btn-raised:not(.btn-link):hover.btn-primary {
  background-color: $darker-tan;
  border-color: $pavlova;
}

.btn.btn-raised:not(.btn-link):active.btn-primary {
  background-color: $darker-tan;
}

.btn.btn-raised:not(.btn-link):focus.btn-primary {
  background-color: $pavlova;
  border-color: $pavlova;
}

.btn.btn-raised.btn-default {
  background-color: transparent;
  border-color: $transparent-white-33 !important;
  box-shadow: none;
  color: $white;
}

.btn.btn-raised:not(.btn-link):hover.btn-default {
  background-color: transparent;
  border-color: $transparent-white-50 !important;
}

.btn-group-raised .btn:not(.btn-link).active.btn-default {
  background-color: transparent;
}

.btn.btn-raised:not(.btn-link):focus.btn-default {
  background-color: transparent;
}

h2,
h3,
h4,
h5,
h6 {
  color: $brown;
  font-family: 'Alegreya', Georgia, 'Times New Roman', Times, serif;
}

p {
  margin: 0 0 10.5px;
}

a {
  color: $tan;
  text-decoration: none;
}

.widget {
  .title {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 25px;
    margin-top: 0;
  }

  .read-more {
    color: $tan;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $darkder-putty;
    }
  }
}

.widget-title--big {
  margin-bottom: 50px;

  .widget-title {
    font-size: 46px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
  }

  .widget-title__line {
    border-bottom: 1px solid $transparent-black-8;
    position: absolute;
    right: 0;
    top: 50%;
    left: 221px;
  }
}
